<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs to access your current location to display it on the map.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs to access your current location to display it on the map.</string>
    <key>NSMotionUsageDescription</key>
    <string>Motion detection is needed to determine more accurate locations, when no GPS signal is found or used.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
        <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>location-services</string>
        <string>gps</string>
    </array>
</dict>
</plist>

